@import 'modules/lesshat';

img{outline: none;}
h1,h2,h3,h4,h5,p{margin: 0; padding: 0;}
ol,ul,li{list-style: none;}
ul{margin: 0; padding: 0;}
a{outline: none; text-decoration: none;}
@white: #FFF;
@black: #000;
@cinza: #868a8c;
@verde: #79c3b9;
@verdeclaro: #edf6f4;
@bege: #f68d7a;
@fonte: 'robotoregular';
@fontemedium: 'robotomedium';
@fontelight: 'robotolight';
@fontethin: 'robotothin';
@fontebold: 'robotobold';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body{
  font-family: @fonte !important;
  font-weight: normal;
  overflow-x: hidden;
  .box-sizing(border-box) !important;
}
a{
  text-decoration: none !important;
}
.alinhacentro{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear{
  clear: both;
}
.backgroundcover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao{
  .transition(all .8s ease);
}
.menu-switch{
  float: left;
  left: -52px;
  position: absolute;
  color: @white;
  background: none;
  padding: 10px 14px;
  .box-sizing(border-box);
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
  @media(min-width: 320px) and (max-width: 960px){
    display: block;
  }
  @media(min-width: 320px) and (max-width: 960px){
    display: block;
  }
}

nav#menuresponsivo{
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: @white;    
  li.title{
    padding: 7px 5%;
    background: @bege;
    color: @white !important; 
    font-weight: bold;
  }
  li{
    float: left;
    width: 100%;
    clear: both;
    font-size: 17px;
    a{
      float: left;
      clear: both;
      width: 100%;
      padding: 10px 5%;
      color: @bege;
      font-weight: 600;
      &:hover{
        background: @bege;
        color: @white;
      }
    }
  }
}
.menu-overlay{
  display: none;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site{
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  .transicao;
}
section#menubomile{
  width: 250px;
  float: right;
}
header{
  float: left;
  width: 100%;
  z-index: 9997;
  height: 220px;
  @media(max-width: 960px){
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background: @bege;
  }
  #logo{
    margin-top: 35px;
    @media(max-width: 768px){
      margin-top: 10px;
      img{
        height: 40px;
      }
    }
  }
  #header-top{
    float: left;
    width: 100%;
    background: @bege;
    color: @white;
    font-family: @fontelight;
    padding: 5px 0;
    .box-sizing(border-box);
    font-size: 11px;
    letter-spacing: 2px;
    strong{
      font-family: @fontebold;
    }
    #horario-top{
      text-align: right;
    }
  }
  nav#menu{
    float: right;
    text-align: right;
    margin-top: 80px;
    li{
      margin-left: 40px;
      display: inline-block;
      font-size: 14px;
      font-family: @fontebold;
      a{
        color: @bege;
      }
    }
  }
}

#cboxOverlay{background:url('../images/overlay.png') repeat 0 0; top:0; left:0; z-index:9999; overflow:hidden; position: fixed;  width: 100%; height: 100%;}
#colorbox{outline:0; z-index: 9999;}
#cboxContent{overflow:visible; background: @white;}
.cboxIframe{background:#fff; width: 100%; height: 100%;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background: #FFF;}
#cboxLoadingGraphic{background:url('../images/loading.gif') no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{display: none;}
.cboxPhoto{padding: 10px;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url('../images/controls.png') no-repeat 0 0;}
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxPrevious{background: url('../images/colorbox_prev.png') center no-repeat; width: 38px; height: 37px; left: 10px; top: 50%; position: absolute;}
#cboxNext{background: url('../images/colorbox_next.png') center no-repeat; width: 38px; height: 37px; right: 10px; top: 50%;  position: absolute;}
#cboxClose{background: url('../images/btn_close.png') center no-repeat; width: 45px; height: 45px; right: 10px; top: 10px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

#loader{
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat @white;
}
section#conteudopagina{
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 50px 0;
  .box-sizing(border-box);
  @media(max-width: 960px){
    margin-top: 60px;
  }
  .msg{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: @cinza;
    font-family: @fonte;
  }
}
section#banner{
  float: left;
  width: 100%;
  position: relative;
  @media(max-width: 960px){
    margin-top: 60px;
  }
  #sobrebanner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @media(max-width: 768px){
      position: relative;
    }
    .infobanner{
      background: @white;
      padding: 120px 40px 40px;
      @media(max-width: 768px){
        padding: 15px;
      }
      h2{
        font-size: 20px;
        font-family: @fontebold;
        margin-bottom: 20px;
      }
    }
  }
}

section#destaques{
  float: left;
  width: 100%;
  padding: 50px 0;
  .box-sizing(border-box);
  .box-destaque{
    margin-bottom: 30px;
    min-height: 500px;
    img{
      width: 100%;
      position: relative;
    }
    .descricao-box-destaque{
      padding: 15px;
      .box-sizing(border-box);
      background: @white;
      width: 70%;
      right: 0;
      bottom: -60px;
      position: absolute;
      @media(max-width: 768px){
        bottom: 0;
      }
      h2{
        font-size: 16px;
        margin-bottom: 5px;
        color: @bege;
        font-family: @fontebold;
      }
      color: @cinza;
      p{
        font-size: 14px;
        margin-bottom: 10px;
      }
      a.lermais{
        font-family: @fontemedium;
        color: @cinza;
        .fas{
          color: @bege;
          margin-left: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
.titulopag{
  h1{
    color: @bege;
    font-family: @fontebold;
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.btn-vermais{
  text-align: center;
  margin-top: 70px;
  hr{
    float: left;
    width: 100%;
    border: 1px solid #ececec;
    margin: 3px 0;
  }
  a{
    font-family: @fontebold;
    color: @bege;
    font-size: 12px;
  }
}

section#ultimos-artigos{
  float: left;
  width: 100%;
  padding: 50px 0;
  .box-sizing(border-box);
  background: @verdeclaro;
  .titulopag{
    h1{
      color: @verde;
    }
  }
  .box-artigo{
    margin-bottom: 30px;
    img{
      width: 100%;
      position: relative;
    }
    .descricao-box-artigo{
      margin-top: 15px;
      h2{
        font-size: 16px;
        margin-bottom: 5px;
        color: @verde;
        font-family: @fontebold;
      }
      color: @verde;
      p{
        font-size: 14px;
        margin-bottom: 10px;
      }
      a.lermais{
        font-family: @fontemedium;
        color: @bege;
        .fas{
          color: @verde;
          margin-left: 10px;
          font-size: 20px;
        }
      }
    }
  }
}
section#banner-mini{
  padding-top: 130px;
  float: left;
  margin-bottom: -40px;
  width: 100%;
  @media(max-width: 768px){
    padding-top: 40px;
  }
}
section#banner-mini-sobre{
  float: left;
  width: 100%;
  margin-top: -100px;
  padding-bottom: 40px;
  @media(max-width: 768px){
    margin-top: 0;
  }
}

footer{
  float: left;
  width: 100%;
  padding: 60px 0 40px;
  .box-sizing(border-box);
  background: @bege;
  text-align: center;
  color: @white;
  font-size: 13px;
  text-transform: uppercase;
  p{
    margin-bottom: 3px;
  }
  strong{
    font-family: @fontebold;
  }
  .fab{
    font-size: 17px;
    color: @white;
    margin: 10px 5px;
  }
}
section#bgsobre{
  float: left;
  width: 100%;
  @media(max-width: 768px){
    margin-top: 60px;
  }
  #descricao-sobre{
    position: absolute;
    bottom: 0;
    left: 16%;
    width: 390px;
    z-index: 10;
    background: @white;
    padding: 80px 45px;
    .box-sizing(border-box);
    color: @cinza;
    font-size: 16px;
    line-height: 30px;
    @media(max-width: 768px){
      position: relative;
      left: 0;
      padding: 0 15px;
      float: left;
      width: 100%;
      margin-top: 30px;
    }
    p{
      margin-bottom: 20px;
    }
  }
}

section#conteudo-sobre{
  float: left;
  width: 100%;
  padding: 80px 0;
  .box-sizing(border-box);
  @media(max-width: 768px){
    padding: 20px 0;
  }
  h2{
    color: @bege;
    text-align: center;
    font-size: 18px;
    font-family: @fontebold;
    line-height: 40px;
  }
}
section#doutores{
  float: left;
  width: 100%;
  padding: 80px 0;
  .box-sizing(border-box);
  .box-drs{
    margin-bottom: 30px;
    text-align: center;
    img{
      .border-radius(100%);
      margin-bottom: 20px;
    }
    h2{
      font-family:@fontebold;
      font-size: 16px;
    }
    span{
      font-size: 12px;
    }
    p{
      font-size: 12px;
      font-family: @fontemedium;
      margin-bottom: 20px;
    }
  }
}
section#bgverde-claro{
  float: left;
  width: 100%;
  background: @verdeclaro;
}
section#servicos{
  float: left;
  width: 100%;
  margin-top: -150px;
  @media(max-width: 768px){
    margin-top: 0;
    padding: 40px 0;
    .box-sizing(border-box);
  }
  .box-servico{
    float: left;
    width: 100%;
    background: @white;
    padding: 10px;
    margin-bottom: 30px;
    .box-sizing(border-box);
    min-height: 485px;
    img{
      width: 100%;
      margin-bottom: 10px;
    }
    h2{
      font-family: @fontebold;
      font-size: 14px; 
      color: @bege;
      margin-bottom: 10px;
    }
    p{
      line-height: 24px;
      color: @cinza;
    }
  }
}
#bannermeio-servicos{
  padding-bottom: 100px;
  background: url('../images/bgwhite.jpg') center top repeat-x;
  @media(max-width: 768px){
    margin-top: 60px;
  }
}
#descricao-servico{
  position: relative;
  width: 100%;
  background: @white;
  padding: 40px;
  .box-sizing(border-box);
  color: @cinza;
  margin-top: -400px;
  @media(max-width: 768px){
    margin-top: 30px;
  }
  h1{
    font-family: @fontebold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 20px;
  }
}
#endereco-clinica{
  float: left;
  width: 100%;
  padding: 15px;
  background: @bege;
  color: @white;
  margin-top: -50px;
  @media(max-width: 768px){
    margin-top: 30px;
  }
  p{
    font-size: 16px;
    margin-bottom: 10px;
    strong{
      font-family: @fontebold;
    }
  }
  h3{
      font-family: @fontebold;
      font-size: 30px;
      margin-bottom: 10px;
    }
  a{
    color: @white;
    .fab{
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
#sobre-blog{
  float: left;
  width: 100%;
  padding: 35px;
  background: @white;
  .box-sizing(border-box);
  margin-top: -80px;
  margin-bottom: 70px;
  h1{
    font-family: @fontebold;
    font-size: 30px;
    margin-bottom: 15px;
    color: @black;
  }
  h2{
    font-family: @fontebold;
    font-size: 20px;
    color: @black;
  }
  p{
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 25px;
    span{
      font-family: @fontebold;
      font-size: 12px;
    }
  }
}
.post-interno{
  margin-bottom: -40px !important;
  padding-bottom: 100px !important;
}
.bgvermelho{
  margin-top: -250px !important;
  @media(max-width: 768px){
    margin-top: 30px;
  }
}
.bgrosa{
  background: #fbd6d0;
  padding: 40px 40px 120px;
  .box-sizing(border-box);
  margin-top: -450px;
  @media(max-width: 768px){
    margin-top: 0px;
    padding: 15px;
  }
}
.pd0{
  padding: 0;
}
.box-blog{
  float: left;
  width: 100%;
  background: @white;
  min-height: 520px;
  margin-bottom: 30px;
  img{
    width: 100%;
  }
  .desc-post-blog{
    float: left;
    width: 100%;
    padding: 20px;
    .box-sizing(border-box);
    line-height: 26px;
    color: @cinza;
    h2{
      font-family: @fontebold;
      font-size: 16px;
      margin: 10px 0;
      color: @bege;
    }
    p{
      font-size: 12px;
    }
  }
  span.datapost{
    font-family: @fontebold;
    color: @black;
    font-size: 12px;
  }
}
#formulario{
  float: left;
  width: 100%;
  input[type="text"]{
    padding: 15px 20px;
    .box-sizing(border-box);
    background: @white;
    font-size: 15px;
    color: @black;
    margin-bottom: 14px;
    border: none;
    float: left;
    width: 100%;
  }
  textarea{
    padding: 15px 20px;
    .box-sizing(border-box);
    background: @white;
    font-size: 15px;
    color: @black;
    margin-bottom: 14px;
    border: none;
    float: left;
    width: 100%;
    height: 120px;
    resize: none;
  }
  input[type="submit"]{
    background: #333;
    color: @white;
    font-size: 15px;
    border: none;
    padding: 15px 40px;
    float: left;
    .box-sizing(border-box);
  }
}
#infocontato{
  color: @black;
  font-size: 15px;
  @media(max-width: 768px){
    margin-top: 30px;
  }
  h3{
    font-size: 20px;
    font-family: @fontebold;
    margin: 15px 0;
  }
  p{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
  }
}
#mapa{
  margin-top: 40px;
  margin-bottom: -40px;
  @media(max-width: 768px){
    margin-top: 0;
    margin-bottom: 0;
  }
}