@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto/roboto-bold-webfont.eot');
    src: url('./fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('./fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('./fonts/roboto/roboto-thin.eot');
    src: url('./fonts/roboto/roboto-thin.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-thin.woff2') format('woff2'),
         url('./fonts/roboto/roboto-thin.woff') format('woff'),
         url('./fonts/roboto/roboto-thin.ttf') format('truetype'),
         url('./fonts/roboto/roboto-thin.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('./fonts/roboto/roboto-light-webfont.eot');
    src: url('./fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('./fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('./fonts/roboto/roboto-medium-webfont.eot');
    src: url('./fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('./fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto/roboto-regular-webfont.eot');
    src: url('./fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('./fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('./fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}