img {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: 'robotoregular' !important;
  font-weight: normal;
  overflow-x: hidden;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
a {
  text-decoration: none !important;
}
.alinhacentro {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.clear {
  clear: both;
}
.backgroundcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transicao {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.menu-switch {
  float: left;
  left: -52px;
  position: absolute;
  color: #FFF;
  background: none;
  padding: 10px 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 28px;
  display: none;
  cursor: pointer;
  top: 0;
  z-index: 999;
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .menu-switch {
    display: block;
  }
}
nav#menuresponsivo {
  right: -250px;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 9999;
  background: #FFF;
}
nav#menuresponsivo li.title {
  padding: 7px 5%;
  background: #f68d7a;
  color: #FFF !important;
  font-weight: bold;
}
nav#menuresponsivo li {
  float: left;
  width: 100%;
  clear: both;
  font-size: 17px;
}
nav#menuresponsivo li a {
  float: left;
  clear: both;
  width: 100%;
  padding: 10px 5%;
  color: #f68d7a;
  font-weight: 600;
}
nav#menuresponsivo li a:hover {
  background: #f68d7a;
  color: #FFF;
}
.menu-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
}
section#site {
  float: left;
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
section#menubomile {
  width: 250px;
  float: right;
}
header {
  float: left;
  width: 100%;
  z-index: 9997;
  height: 220px;
}
@media (max-width: 960px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    background: #f68d7a;
  }
}
header #logo {
  margin-top: 35px;
}
@media (max-width: 768px) {
  header #logo {
    margin-top: 10px;
  }
  header #logo img {
    height: 40px;
  }
}
header #header-top {
  float: left;
  width: 100%;
  background: #f68d7a;
  color: #FFF;
  font-family: 'robotolight';
  padding: 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11px;
  letter-spacing: 2px;
}
header #header-top strong {
  font-family: 'robotobold';
}
header #header-top #horario-top {
  text-align: right;
}
header nav#menu {
  float: right;
  text-align: right;
  margin-top: 80px;
}
header nav#menu li {
  margin-left: 40px;
  display: inline-block;
  font-size: 14px;
  font-family: 'robotobold';
}
header nav#menu li a {
  color: #f68d7a;
}
#cboxOverlay {
  background: url('../images/overlay.png') repeat 0 0;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
#colorbox {
  outline: 0;
  z-index: 9999;
}
#cboxContent {
  overflow: visible;
  background: #FFF;
}
.cboxIframe {
  background: #fff;
  width: 100%;
  height: 100%;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  background: #FFF;
}
#cboxLoadingGraphic {
  background: url('../images/loading.gif') no-repeat center center;
}
#cboxLoadingOverlay {
  background: #000;
}
#cboxTitle {
  display: none;
}
.cboxPhoto {
  padding: 10px;
}
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url('../images/controls.png') no-repeat 0 0;
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxPrevious {
  background: url('../images/colorbox_prev.png') center no-repeat;
  width: 38px;
  height: 37px;
  left: 10px;
  top: 50%;
  position: absolute;
}
#cboxNext {
  background: url('../images/colorbox_next.png') center no-repeat;
  width: 38px;
  height: 37px;
  right: 10px;
  top: 50%;
  position: absolute;
}
#cboxClose {
  background: url('../images/btn_close.png') center no-repeat;
  width: 45px;
  height: 45px;
  right: 10px;
  top: 10px;
}
.cboxSlideshow_on #cboxPrevious,
.cboxSlideshow_off #cboxPrevious {
  right: 66px;
}
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}
#loader {
  z-index: 999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/carregando.gif') 50% 50% no-repeat #FFF;
}
section#conteudopagina {
  min-height: 560px;
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  section#conteudopagina {
    margin-top: 60px;
  }
}
section#conteudopagina .msg {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #868a8c;
  font-family: 'robotoregular';
}
section#banner {
  float: left;
  width: 100%;
  position: relative;
}
@media (max-width: 960px) {
  section#banner {
    margin-top: 60px;
  }
}
section#banner #sobrebanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 768px) {
  section#banner #sobrebanner {
    position: relative;
  }
}
section#banner #sobrebanner .infobanner {
  background: #FFF;
  padding: 120px 40px 40px;
}
@media (max-width: 768px) {
  section#banner #sobrebanner .infobanner {
    padding: 15px;
  }
}
section#banner #sobrebanner .infobanner h2 {
  font-size: 20px;
  font-family: 'robotobold';
  margin-bottom: 20px;
}
section#destaques {
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#destaques .box-destaque {
  margin-bottom: 30px;
  min-height: 500px;
}
section#destaques .box-destaque img {
  width: 100%;
  position: relative;
}
section#destaques .box-destaque .descricao-box-destaque {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  width: 70%;
  right: 0;
  bottom: -60px;
  position: absolute;
  color: #868a8c;
}
@media (max-width: 768px) {
  section#destaques .box-destaque .descricao-box-destaque {
    bottom: 0;
  }
}
section#destaques .box-destaque .descricao-box-destaque h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #f68d7a;
  font-family: 'robotobold';
}
section#destaques .box-destaque .descricao-box-destaque p {
  font-size: 14px;
  margin-bottom: 10px;
}
section#destaques .box-destaque .descricao-box-destaque a.lermais {
  font-family: 'robotomedium';
  color: #868a8c;
}
section#destaques .box-destaque .descricao-box-destaque a.lermais .fas {
  color: #f68d7a;
  margin-left: 10px;
  font-size: 20px;
}
.titulopag h1 {
  color: #f68d7a;
  font-family: 'robotobold';
  font-size: 24px;
  margin-bottom: 30px;
}
.btn-vermais {
  text-align: center;
  margin-top: 70px;
}
.btn-vermais hr {
  float: left;
  width: 100%;
  border: 1px solid #ececec;
  margin: 3px 0;
}
.btn-vermais a {
  font-family: 'robotobold';
  color: #f68d7a;
  font-size: 12px;
}
section#ultimos-artigos {
  float: left;
  width: 100%;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #edf6f4;
}
section#ultimos-artigos .titulopag h1 {
  color: #79c3b9;
}
section#ultimos-artigos .box-artigo {
  margin-bottom: 30px;
}
section#ultimos-artigos .box-artigo img {
  width: 100%;
  position: relative;
}
section#ultimos-artigos .box-artigo .descricao-box-artigo {
  margin-top: 15px;
  color: #79c3b9;
}
section#ultimos-artigos .box-artigo .descricao-box-artigo h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #79c3b9;
  font-family: 'robotobold';
}
section#ultimos-artigos .box-artigo .descricao-box-artigo p {
  font-size: 14px;
  margin-bottom: 10px;
}
section#ultimos-artigos .box-artigo .descricao-box-artigo a.lermais {
  font-family: 'robotomedium';
  color: #f68d7a;
}
section#ultimos-artigos .box-artigo .descricao-box-artigo a.lermais .fas {
  color: #79c3b9;
  margin-left: 10px;
  font-size: 20px;
}
section#banner-mini {
  padding-top: 130px;
  float: left;
  margin-bottom: -40px;
  width: 100%;
}
@media (max-width: 768px) {
  section#banner-mini {
    padding-top: 40px;
  }
}
section#banner-mini-sobre {
  float: left;
  width: 100%;
  margin-top: -100px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  section#banner-mini-sobre {
    margin-top: 0;
  }
}
footer {
  float: left;
  width: 100%;
  padding: 60px 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f68d7a;
  text-align: center;
  color: #FFF;
  font-size: 13px;
  text-transform: uppercase;
}
footer p {
  margin-bottom: 3px;
}
footer strong {
  font-family: 'robotobold';
}
footer .fab {
  font-size: 17px;
  color: #FFF;
  margin: 10px 5px;
}
section#bgsobre {
  float: left;
  width: 100%;
}
@media (max-width: 768px) {
  section#bgsobre {
    margin-top: 60px;
  }
}
section#bgsobre #descricao-sobre {
  position: absolute;
  bottom: 0;
  left: 16%;
  width: 390px;
  z-index: 10;
  background: #FFF;
  padding: 80px 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #868a8c;
  font-size: 16px;
  line-height: 30px;
}
@media (max-width: 768px) {
  section#bgsobre #descricao-sobre {
    position: relative;
    left: 0;
    padding: 0 15px;
    float: left;
    width: 100%;
    margin-top: 30px;
  }
}
section#bgsobre #descricao-sobre p {
  margin-bottom: 20px;
}
section#conteudo-sobre {
  float: left;
  width: 100%;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  section#conteudo-sobre {
    padding: 20px 0;
  }
}
section#conteudo-sobre h2 {
  color: #f68d7a;
  text-align: center;
  font-size: 18px;
  font-family: 'robotobold';
  line-height: 40px;
}
section#doutores {
  float: left;
  width: 100%;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#doutores .box-drs {
  margin-bottom: 30px;
  text-align: center;
}
section#doutores .box-drs img {
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  margin-bottom: 20px;
}
section#doutores .box-drs h2 {
  font-family: 'robotobold';
  font-size: 16px;
}
section#doutores .box-drs span {
  font-size: 12px;
}
section#doutores .box-drs p {
  font-size: 12px;
  font-family: 'robotomedium';
  margin-bottom: 20px;
}
section#bgverde-claro {
  float: left;
  width: 100%;
  background: #edf6f4;
}
section#servicos {
  float: left;
  width: 100%;
  margin-top: -150px;
}
@media (max-width: 768px) {
  section#servicos {
    margin-top: 0;
    padding: 40px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
section#servicos .box-servico {
  float: left;
  width: 100%;
  background: #FFF;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 485px;
}
section#servicos .box-servico img {
  width: 100%;
  margin-bottom: 10px;
}
section#servicos .box-servico h2 {
  font-family: 'robotobold';
  font-size: 14px;
  color: #f68d7a;
  margin-bottom: 10px;
}
section#servicos .box-servico p {
  line-height: 24px;
  color: #868a8c;
}
#bannermeio-servicos {
  padding-bottom: 100px;
  background: url('../images/bgwhite.jpg') center top repeat-x;
}
@media (max-width: 768px) {
  #bannermeio-servicos {
    margin-top: 60px;
  }
}
#descricao-servico {
  position: relative;
  width: 100%;
  background: #FFF;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #868a8c;
  margin-top: -400px;
}
@media (max-width: 768px) {
  #descricao-servico {
    margin-top: 30px;
  }
}
#descricao-servico h1 {
  font-family: 'robotobold';
  font-size: 18px;
  margin-bottom: 15px;
}
#descricao-servico p {
  margin-bottom: 20px;
}
#endereco-clinica {
  float: left;
  width: 100%;
  padding: 15px;
  background: #f68d7a;
  color: #FFF;
  margin-top: -50px;
}
@media (max-width: 768px) {
  #endereco-clinica {
    margin-top: 30px;
  }
}
#endereco-clinica p {
  font-size: 16px;
  margin-bottom: 10px;
}
#endereco-clinica p strong {
  font-family: 'robotobold';
}
#endereco-clinica h3 {
  font-family: 'robotobold';
  font-size: 30px;
  margin-bottom: 10px;
}
#endereco-clinica a {
  color: #FFF;
}
#endereco-clinica a .fab {
  font-size: 20px;
  margin-right: 10px;
}
#sobre-blog {
  float: left;
  width: 100%;
  padding: 35px;
  background: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -80px;
  margin-bottom: 70px;
}
#sobre-blog h1 {
  font-family: 'robotobold';
  font-size: 30px;
  margin-bottom: 15px;
  color: #000;
}
#sobre-blog h2 {
  font-family: 'robotobold';
  font-size: 20px;
  color: #000;
}
#sobre-blog p {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 25px;
}
#sobre-blog p span {
  font-family: 'robotobold';
  font-size: 12px;
}
.post-interno {
  margin-bottom: -40px !important;
  padding-bottom: 100px !important;
}
.bgvermelho {
  margin-top: -250px !important;
}
@media (max-width: 768px) {
  .bgvermelho {
    margin-top: 30px;
  }
}
.bgrosa {
  background: #fbd6d0;
  padding: 40px 40px 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -450px;
}
@media (max-width: 768px) {
  .bgrosa {
    margin-top: 0px;
    padding: 15px;
  }
}
.pd0 {
  padding: 0;
}
.box-blog {
  float: left;
  width: 100%;
  background: #FFF;
  min-height: 520px;
  margin-bottom: 30px;
}
.box-blog img {
  width: 100%;
}
.box-blog .desc-post-blog {
  float: left;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 26px;
  color: #868a8c;
}
.box-blog .desc-post-blog h2 {
  font-family: 'robotobold';
  font-size: 16px;
  margin: 10px 0;
  color: #f68d7a;
}
.box-blog .desc-post-blog p {
  font-size: 12px;
}
.box-blog span.datapost {
  font-family: 'robotobold';
  color: #000;
  font-size: 12px;
}
#formulario {
  float: left;
  width: 100%;
}
#formulario input[type="text"] {
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  font-size: 15px;
  color: #000;
  margin-bottom: 14px;
  border: none;
  float: left;
  width: 100%;
}
#formulario textarea {
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFF;
  font-size: 15px;
  color: #000;
  margin-bottom: 14px;
  border: none;
  float: left;
  width: 100%;
  height: 120px;
  resize: none;
}
#formulario input[type="submit"] {
  background: #333;
  color: #FFF;
  font-size: 15px;
  border: none;
  padding: 15px 40px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#infocontato {
  color: #000;
  font-size: 15px;
}
@media (max-width: 768px) {
  #infocontato {
    margin-top: 30px;
  }
}
#infocontato h3 {
  font-size: 20px;
  font-family: 'robotobold';
  margin: 15px 0;
}
#infocontato p {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
}
#mapa {
  margin-top: 40px;
  margin-bottom: -40px;
}
@media (max-width: 768px) {
  #mapa {
    margin-top: 0;
    margin-bottom: 0;
  }
}
